# IPL WIN PROBABILITY PREDICTOR

## (1) DATA PREPROCESSING

#### Step 1: Import all the required libraries

In [1]:
import numpy as np
import pandas as pd

#### Step 2: Read Dataset from CSV file

In [2]:
match_df = pd.read_csv('../data/IPL_Matches_2008_2022.csv')
delivery_df = pd.read_csv('../data/IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [4]:
delivery_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

##

#### Step 3: Add the field - Bowling Team

In [5]:
match_df = match_df.merge(delivery_df, on='ID')

In [6]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [7]:
def bowl(row):
    if row['Team1'] == row['BattingTeam']:
        return row['Team2']
    else:
        return row['Team1']

In [8]:
match_df['BowlingTeam'] = match_df.apply(bowl,axis=1)

In [9]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

In [10]:
delivery_df = match_df[['ID','innings','overs','ballnumber','batsman_run','extras_run','total_run','isWicketDelivery','BattingTeam','BowlingTeam']]

In [11]:
delivery_df

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,isWicketDelivery,BattingTeam,BowlingTeam
0,1312200,1,0,1,0,0,0,0,Rajasthan Royals,Gujarat Titans
1,1312200,1,0,2,0,1,1,0,Rajasthan Royals,Gujarat Titans
2,1312200,1,0,3,1,0,1,0,Rajasthan Royals,Gujarat Titans
3,1312200,1,0,4,0,0,0,0,Rajasthan Royals,Gujarat Titans
4,1312200,1,0,5,0,0,0,0,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,0,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,2,14,6,1,0,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,2,14,7,0,0,0,0,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,2,15,1,0,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,2,15,2,0,0,0,1,Royal Challengers Bangalore,Kolkata Knight Riders

In [12]:
match_df=match_df[['ID','City','Team1','Team2','WinningTeam']]

In [13]:
match_df

,ID,City,Team1,Team2,WinningTeam
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans
2,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans
3,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans
...,...,...,...,...,...
225949,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225950,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225951,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225952,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225953,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

#### Step 4: Checking the shape of the data

In [14]:
match_df.shape

(225954, 5)

In [15]:
delivery_df.shape

(225954, 10)

#### Step 5: Group by innings and display the total runs per match in each inning

In [16]:
total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

/tmp/ipykernel_11888/1386064346.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [17]:
total_scores_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

#### Step 6: Gather the data of only the first innings

In [18]:
total_scores_df = total_scores_df[total_scores_df['innings'] == 1]

In [19]:
total_scores_df

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

#### Step 7: Merge total_scores_df and match_df

This is done to get the total runs in the match table.

In [20]:
match_df = match_df.merge(total_scores_df[['ID','total_run']], on='ID')

In [21]:
match_df

,ID,City,Team1,Team2,WinningTeam,total_run
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
1,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
2,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
3,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
4,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
...,...,...,...,...,...,...
225949,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222
225950,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222
225951,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222
225952,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222
225953,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222

#### Step 8: List the unique teams

In [22]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [23]:
teams = [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'Delhi Capitals',
    'Chennai Super Kings',
    'Gujarat Titans',
    'Lucknow Super Giants',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Mumbai Indians'
]

In [24]:
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1'] = match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2'] = match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['Team1'] = match_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['Team2'] = match_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Kings XI Punjab','Punjab Kings')

In [25]:
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Gujarat Lions','Gujarat Titans')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')
delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Kings XI Punjab','Punjab Kings')

/tmp/ipykernel_11888/306222907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
/tmp/ipykernel_11888/306222907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
/tmp/ipykernel_11888/306222907.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
/tmp/ipykernel_11888/306222907.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
/tmp/ipykernel_11888/306222907.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
/tmp/ipykernel_11888/306222907.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
/tmp/ipykernel_11888/306222907.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')
/tmp/ipykernel_11888/306222907.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['BowlingTeam'] = delivery_df['BowlingTeam'].str.replace('Kings XI Punjab','Punjab Kings')

#### Step 9: Update the match_df and delivery_df

match_df

In [26]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]
match_df = match_df[match_df['WinningTeam'].isin(teams)]

In [27]:
match_df.shape

(204772, 6)

In [28]:
match_df = match_df[['ID','City','WinningTeam','total_run']]

In [29]:
match_df

             ID       City            WinningTeam  total_run
0       1312200  Ahmedabad         Gujarat Titans        130
1       1312200  Ahmedabad         Gujarat Titans        130
2       1312200  Ahmedabad         Gujarat Titans        130
3       1312200  Ahmedabad         Gujarat Titans        130
4       1312200  Ahmedabad         Gujarat Titans        130
...         ...        ...                    ...        ...
225949   335982  Bangalore  Kolkata Knight Riders        222
225950   335982  Bangalore  Kolkata Knight Riders        222
225951   335982  Bangalore  Kolkata Knight Riders        222
225952   335982  Bangalore  Kolkata Knight Riders        222
225953   335982  Bangalore  Kolkata Knight Riders        222

[204772 rows x 4 columns]

Updating delivery_df

In [30]:
delivery_df = delivery_df[delivery_df['BowlingTeam'].isin(teams)]
delivery_df = delivery_df[delivery_df['BattingTeam'].isin(teams)]

In [31]:
delivery_df

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,isWicketDelivery,BattingTeam,BowlingTeam
0,1312200,1,0,1,0,0,0,0,Rajasthan Royals,Gujarat Titans
1,1312200,1,0,2,0,1,1,0,Rajasthan Royals,Gujarat Titans
2,1312200,1,0,3,1,0,1,0,Rajasthan Royals,Gujarat Titans
3,1312200,1,0,4,0,0,0,0,Rajasthan Royals,Gujarat Titans
4,1312200,1,0,5,0,0,0,0,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,0,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,2,14,6,1,0,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,2,14,7,0,0,0,0,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,2,15,1,0,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,2,15,2,0,0,0,1,Royal Challengers Bangalore,Kolkata Knight Riders

#### Step 10: Merge delivery_df and match_df

In [32]:
delivery_df = match_df.merge(delivery_df, on='ID')

:

:

In [ ]:
delivery_df

#### Step 11: Group by second innings

In [ ]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [ ]:
delivery_df

#### Step 12: Create remaining fields necessary for prediction

current score

In [ ]:
delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']

Runs left

In [ ]:
#important because i added +1
delivery_df['runs_left'] = delivery_df['total_run_x'] - delivery_df['current_score']+1

Balls left

In [ ]:
delivery_df['balls_left'] = 126 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

In [ ]:
delivery_df

Wickets

In [ ]:
wickets = delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
delivery_df['wickets'] = 10 - wickets

In [ ]:
delivery_df

Current Run Rate

In [ ]:
# current_run_rate = runs/overs
delivery_df['current_run_rate'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

Required Run Rate

In [ ]:
# required_run_rate = runs_left/overs_left
delivery_df['required_run_rate'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

Final Result

In [ ]:
def result(row):
    if row['BattingTeam'] == row['WinningTeam']:
        return 1 
    else:
        return 0

In [ ]:
delivery_df['Result'] = delivery_df.apply(result,axis=1)

#### Step 13: Creating the required table

In [ ]:
ultimate_df = delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','current_run_rate','required_run_rate','Result']]

In [ ]:
ultimate_df = ultimate_df.sample(ultimate_df.shape[0])

In [ ]:
ultimate_df.sample()

In [ ]:
ultimate_df.isnull().sum()

In [ ]:
#ultimate_df.to_csv('IPL_Ball_by_Ball_2008_2022.csv', index=False)